<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Xam.Plugins.Forms.CustomReturnEntry" version="4.1.0-pre1" targetFramework="net45" />
  <package id="Xamarin.Forms" version="3.0.0.446417" targetFramework="net45" />
  <package id="Xamarin.UITest" version="2.2.4" targetFramework="net45" />
</packages>