name: Xamarin

on:
  push:
    branches:
      - "main"
  pull_request:
    branches: 
      - "*"

jobs:

    Build_Android:
      runs-on: windows-latest

      steps:
      - uses: actions/checkout@v3
        
      - name: Setup .NET 3.1 + .NET v6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            3.1.x

      - name: Remove API Key Errors
        run: |
          sed -i '' "s/Add Face API Key Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Face API Key Missing/\/\/#error Face API Key Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"

          sed -i '' "s/Add Face API Base Url Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Base Url Missing/\/\/#error Base Url Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
        shell: bash
        
      - name: Restore NuGet 
        run: |
          nuget restore ./Source

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
          
      - name: Build Android App
        run: |                    
          msbuild ./Source/FaceOff.Droid/FaceOff.Droid.csproj /verbosity:normal /p:Configuration=Release

    Build_Windows:
      runs-on: windows-latest

      steps:
      - uses: actions/checkout@v3
        
      - name: Setup .NET 3.1 + .NET v6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            3.1.x

      - name: Remove API Key Errors
        run: |
          sed -i '' "s/Add Face API Key Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Face API Key Missing/\/\/#error Face API Key Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"

          sed -i '' "s/Add Face API Base Url Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Base Url Missing/\/\/#error Base Url Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
        shell: bash
        
      - name: Restore NuGet 
        run: |
          nuget restore ./Source

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
          
      - name: Build Windows App
        run: |                    
          msbuild ./Source/FaceOff.UWP/FaceOff.UWP.csproj /verbosity:normal /p:Configuration=Release

    Build_UITest:
      runs-on: windows-latest

      steps:
      - uses: actions/checkout@v3
        
      - name: Setup .NET 3.1 + .NET v6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            3.1.x

      - name: Remove API Key Errors
        run: |
          sed -i '' "s/Add Face API Key Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Face API Key Missing/\/\/#error Face API Key Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"

          sed -i '' "s/Add Face API Base Url Here//g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
          sed -i '' "s/#error Base Url Missing/\/\/#error Base Url Missing/g" "./Source/FaceOff/Constants/CognitiveServicesConstants.cs"
        shell: bash
        
      - name: Restore NuGet 
        run: |
          nuget restore ./Source

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
          
      - name: Build UI Test App
        run: |                    
          msbuild ./Source/FaceOff.UITests/FaceOff.UITests.csproj /verbosity:normal /p:Configuration=Release
